*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}




body{
	/*background-color: skyblue;*/
}

.container{
	width: 100%;
	margin: 0 auto;
}

/*header section style*/
.header{
	width: 100%;
	/*height: 70px;
	background-color: whitesmoke;*/

}
.header img{
	width: 10%;
	margin-left: 7px;
	cursor: pointer;
}
/*Navigation bar style*/
.topnav{
	width: 100%;
	height: 50px;
	background-color: darkred;
	padding-left: 200px;
	padding-top: 10px;

}

.topnav a{
	color: whitesmoke;
	font-size: 27px;
	text-decoration: none;
	margin-right: 20px;
	padding: 10px 6px 10px 6px;
}

.topnav a:hover{
	background-color: whitesmoke;
	color: darkred;

}

/*Content section style*/
.content{
	width: 90%;
	margin: 0 auto;
	background-color: pink;
}


.left{
	width: 70%;
	float: left;
	/*height: 300px;
	background-color: silver;*/

}

.right{
	width: 30%;
	float: left;
	/*height: 300px;
	background-color: violet;*/

}
.right p{
	margin-top: 20px;
	font-size: 20px;
	width: 80%;

}
.right a{
	color: black;
	text-decoration: none;
}

.right a:hover{
	text-decoration: underline;
}

.card{
	width: 80%;
	margin-bottom: 60px;

}

.card img{
	width: 100%;
}







.box{
	width: 70%;
	margin: 0 auto;
	margin-top:40px;
	/*height: 500px;
	background-color: gray;*/
}

.box img{
	width: 100%;

}


.box a{
	color:black ;
	text-decoration: none;
}

.box h1:hover{
	color: darkred;
}

.clear{
	content:"";
	display: table;
	clear: both;
}

/*footer style*/
.footer{
	width: 100%;
	clear: both;
	height: 300px;
	background-color: darkred;
	margin-top: 100px;
}
.footer1{
	width: 100%;
	height: 60px;
	background-color: lightgray;
}
.footer2{
	width: 70%;
	height: 200px;
	background-color: darkred;
	margin: 0 auto;
	padding: 30px;
	color: white;
}
.footer1 img{
	margin-left: 150px;
	width: 12%;
}



.footer2 p,hr{
	margin-bottom: 10px;
}

.footer3{
	width: 90%;
	margin: 0 auto;
	text-align: center;
	padding: 10px;
	color: white;
}












